<header id="main-header">
    <div id="logo"><a href="/">MAH</a></div>
    <nav>
        <%- include('nav-items') %>
    </nav>
    <button id="mobile-menu-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>
</header>
<!-- aside here for mobile section -->
<aside id="mobile-menu">
    <nav>
        <%- include('nav-items') %>
    </nav>

</aside>